<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Accountancy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Accountancy.Properties.Settings.AccountancyConnectionString" connectionString="Data Source=.;Initial Catalog=Accountancy;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <Accountancy.Properties.Settings>
            <setting name="Accountancy_PumkinSendService_Send" serializeAs="String">
                <value>http://sms.pumkin.ir/API/Send.asmx</value>
            </setting>
        </Accountancy.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
